
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Kubernetes
kubeconfig
ionosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db


# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
/sops.key
/sops.key.pub
/sops.key.pub.decrypted~*.yaml
/sops.key.pub.decrypted~*.yaml
github-deploy.key
github-deploy.key.pub
github-push-token.txt

# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
